.dub
docs.json
__dummy.html
docs/
/pineapplelang
pineapplelang.so
pineapplelang.dylib
pineapplelang.dll
pineapplelang.a
pineapplelang.lib
pineapplelang-test-*
*.exe
*.pdb
*.o
*.obj
*.lst

.vscode
.temp

/example/*
/temp/*
